.comment__image {
  width: 26%;
  border-radius: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .comment__image {
    margin-left: 35%;
  }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
  .comment__image {
    margin-left: 36%;
    width: 25%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 375px) and (max-width: 424px) {
  .comment__image {
    margin-left: 36%;
    width: 25%;
    margin-top: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 374px) {
  .comment__image {
    width: 33%;
    margin-left: 32%;
    margin-top: 30px;
  }
}